/* Footer
footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #050812, #050812, #050812, #050812, #1b1e2a, #363a48, #545969, #747a8e);
    margin-top: 110px;
    position: relative;
} */